.DS_Store
frontend/node_modules
frontend/dist

# local env files
.env.local
.env.backup
.env.*.local
.env*
!.env.example

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# backend
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/vendor
backend/.phpunit.result.cache
backend/docker-compose.override.yml
backend/Homestead.json
backend/Homestead.yaml
backend/MadelineProto.log
backend/session.madeline*
