.block-qr {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;


  &__code {
    width: 80%;
    height: 80%;
    cursor: pointer;

    &:deep(svg) {
      width: 100%;
      height: 100%;
    }
  }

  &__btn-back {
    position: absolute;
    left: 0;
    border: none;
    background: transparent;
    transition: background .15s;

    &:hover,
    &:focus {
      background-color: rgba(0,0,0, .1);
    }
  }
  @include media-breakpoint-down(lg) {
    &__btn-back {
      bottom: 0;
      height: 15%;
      width: 100%;
    }
  }
  @include media-breakpoint-up(lg) {
    &__btn-back {
      top: 0;
      height: 100%;
      width: 15%;
    }
  }
}
